aiokafka
fastapi
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
pydantic-settings
fastapi-users[sqlalchemy]
python-multipart
pandas
pytest
pytest-asyncio
httpx
aiosqlite
wemake-python-styleguide
flake8
